{%extends "layout.html"%}

{%block content%}

<div class="text-success-emphasis text-center">
    <h1>Agregar una Publicación</h1>
    <br>
</div>

<!-- Incluye el panel hecho en search panel -->
{% include "utils/search_panel.html" %}

<div class="col-md-8 mx-auto mt-3 mt-md-0 bg-dark py-2 px-2 box rounded-2 opacity-75">
    <div class="card shadow p-2 text-success">
        <form action="{{ url_for('admin.insert') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{csrf_token() }}">
            <div class="mb-2">
                <label for="titulo" class="form-label">Título</label>
                <input type="text" class="form-control" name="titulo" placeholder="Escribe el título aquí">
            </div>
            <div class="mb-2">
                <label for="categoria" class="form-label">Categoría</label>
                <select class="form-select text-success" name="categoria">
                    <option selected disabled>Selecciona una categoría</option>
                    <option value="Tecnología">Tecnología</option>
                    <option value="Ciencia">Ciencia</option>
                    <option value="Literatura">Literatura</option>
                    <option value="Historia">Historia</option>
                </select>
            </div>
            <div class="mb-2">
                <label for="autor" class="form-label">Autor</label>
                <input type="text" class="form-control" name="autor" placeholder="Nombre del autor">
            </div>
            <div class="mb-2">
                <label for="contenido" class="form-label">Contenido</label>
                <textarea class="form-control" name="contenido" rows="5" placeholder="Escribe el contenido aquí (máx. 500 palabras)"></textarea>
            </div>
            <br>
            <button type="submit" class="btn btn-success">Agregar</button>
        </form>
    </div>
</div>

{% endblock %}