{%extends "layout.html"%}

{%block content%}

<div class="row">
    <div class="col-md-3">
        <div class="bg-dark text-light py-3 px-3 box rounded-2 opacity-75" data-bs-theme="dark">
            <h1 class="display-6 text-success">Agregar un Articulo</h1>
            <hr>
            <div class="col-md-12">
                <h4 class="display-8 text-center">Administracion de Articulos</h4>
                <div class="bg-dark py-2 px-2 mt-1 box rounded-2 opacity-75" data-bs-theme="dark">
                    <a type="button" class="btn btn-outline-success py-2 px-2 col-12 mb-3" href="{{url_for('admin.insert')}}">Crear Articulo</a>
                    <a type="button" class="btn btn-outline-warning py-2 px-2 col-12 mb-3" href="{{url_for('admin.edit')}}">Editar Articulo</a>
                    <a type="button" class="btn btn-outline-danger py-2 px-2 col-12 mb-3" href="{{url_for('admin.delete')}}">Borrar Articulo</a>
                </div>
            </div>
        </div>
    </div>

<div class="col-md-8 bg-dark text-light py-2 px-2 box rounded-2 opacity-75" data-bs-theme="dark">
    <div class="card shadow p-2">
        <h2 class="mb-2 text-success">Agregar un articulo...</h2>
        <form action="{{ url_for('admin.insert') }}" method="POST">
            <div class="mb-2">
                <label for="titulo" class="form-label">Título</label>
                <input type="text" class="form-control" name="titulo" placeholder="Escribe el título aquí">
            </div>
            <div class="mb-2">
                <label for="categoria" class="form-label">Categoría</label>
                <select class="form-select" name="categoria">
                    <option selected disabled>Selecciona una categoría</option>
                    <option value="Tecnología">Tecnología</option>
                    <option value="Ciencia">Ciencia</option>
                    <option value="Literatura">Literatura</option>
                    <option value="Historia">Historia</option>
                </select>
            </div>
            <div class="mb-2">
                <label for="autor" class="form-label">Autor</label>
                <input type="text" class="form-control" name="autor" placeholder="Nombre del autor">
            </div>
            <div class="mb-2">
                <label for="contenido" class="form-label">Contenido</label>
                <textarea class="form-control" name="contenido" rows="5" placeholder="Escribe el contenido aquí (máx. 500 palabras)"></textarea>
            </div>
            <br>
            <button type="submit" class="btn btn-success">Agregar</button>
        </form>
    </div>
</div>

{% endblock %}