.scrollable-table {
    height: 475px; /* Ajusta la altura según sea necesario */
    overflow-y: auto; /* Habilita el scroll vertical */
    margin-top: 16px;
    border-radius: 0.5rem; /* Redondea las esquinas */
    scrollbar-width: thin; /* Para navegadores Firefox */
    scrollbar-color: transparent transparent; /* Para navegadores Firefox */
    }

.fit-insert {
    margin-top: 16px;
    
}

.article-list {
  max-height: 55vh;
}

.password-requirements {
    background-color: #2c3034;
    border-radius: 5px;
    padding: 15px;
    margin-top: 10px;
}

.password-requirements small {
    color: #adb5bd;
}

.password-requirements ul li {
    font-size: 0.9rem;
}

/* Para navegadores WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.3);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.5);
}

/* Para Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 100, 100, 0.3) transparent;
}

/* Efecto de desvanecimiento */
body {
  overflow-y: overlay; /* Solo para WebKit */
  transition: scrollbar-color 0.3s; /* Para Firefox */
}

/* Opcional: Ocultar al inicio y mostrar al pasar mouse */
body:not(:hover)::-webkit-scrollbar-thumb {
  background-color: transparent;
}
